@{
    ViewData["Title"] = "Список данжей";
}
    <link rel="stylesheet" href="~/css/site.css">

<div class="text-center">
    <!-- Blog Section Start Here -->
    <div class="blog-section pt-50">
        <div class="container">
            <div class="row mb-n10">
                <div class="col-4">
                    <!-- Single Blog Post Start -->
                    <div class="single-blog-post-wrap" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-thumbnail">
                            <a href="blog-details.html">
                                <img src="~/img/Durion.png" alt="Plus Icons">
                            </a>
                        </div>
                        <div class="blog-post-details pt-1">
                            <h3 class="title">
                                <a href="blog-details.html">Дуерион Хард Хуярд</a>
                            </h3>
                            <div class="post-meta mb-3 mt-1">
                                <a href="#"><i class="fa fa-user"></i> Актуально</a>
                                <span><i class="fa fa-clock-o"></i> Dec 22, 2020</span>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog Post End -->
                </div>
                                <div class="col-4">
                    <!-- Single Blog Post Start -->
                    <div class="single-blog-post-wrap" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-thumbnail">
                            <a href="blog-details.html">
                                <img src="~/img/Durion.png" alt="Plus Icons">
                            </a>
                        </div>
                        <div class="blog-post-details pt-1">
                            <h3 class="title">
                                <a href="blog-details.html">Дуерион Хард Хуярд</a>
                            </h3>
                            <div class="post-meta mb-3 mt-1">
                                <a href="#"><i class="fa fa-user"></i> Актуально</a>
                                <span><i class="fa fa-clock-o"></i> Dec 22, 2020</span>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog Post End -->
                </div>                <div class="col-4">
                    <!-- Single Blog Post Start -->
                    <div class="single-blog-post-wrap" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-thumbnail">
                            <a href="blog-details.html">
                                <img src="~/img/Durion.png" alt="Plus Icons">
                            </a>
                        </div>
                        <div class="blog-post-details pt-1">
                            <h3 class="title">
                                <a href="blog-details.html">Дуерион Хард Хуярд</a>
                            </h3>
                            <div class="post-meta mb-3 mt-1">
                                <a href="#"><i class="fa fa-user"></i> Актуально</a>
                                <span><i class="fa fa-clock-o"></i> Dec 22, 2020</span>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog Post End -->
                </div>                <div class="col-4">
                    <!-- Single Blog Post Start -->
                    <div class="single-blog-post-wrap" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-thumbnail">
                            <a href="blog-details.html">
                                <img src="~/img/Durion.png" alt="Plus Icons">
                            </a>
                        </div>
                        <div class="blog-post-details pt-1">
                            <h3 class="title">
                                <a href="blog-details.html">Дуерион Хард Хуярд</a>
                            </h3>
                            <div class="post-meta mb-3 mt-1">
                                <a href="#"><i class="fa fa-user"></i> Актуально</a>
                                <span><i class="fa fa-clock-o"></i> Dec 22, 2020</span>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog Post End -->
                </div>                <div class="col-4">
                    <!-- Single Blog Post Start -->
                    <div class="single-blog-post-wrap" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-thumbnail">
                            <a href="blog-details.html">
                                <img src="~/img/Durion.png" alt="Plus Icons">
                            </a>
                        </div>
                        <div class="blog-post-details pt-1">
                            <h3 class="title">
                                <a href="blog-details.html">Дуерион Хард Хуярд</a>
                            </h3>
                            <div class="post-meta mb-3 mt-1">
                                <a href="#"><i class="fa fa-user"></i> Актуально</a>
                                <span><i class="fa fa-clock-o"></i> Dec 22, 2020</span>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog Post End -->
                </div>                <div class="col-4">
                    <!-- Single Blog Post Start -->
                    <div class="single-blog-post-wrap" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-thumbnail">
                            <a href="blog-details.html">
                                <img src="~/img/Durion.png" alt="Plus Icons">
                            </a>
                        </div>
                        <div class="blog-post-details pt-1">
                            <h3 class="title">
                                <a href="blog-details.html">Дуерион Хард Хуярд</a>
                            </h3>
                            <div class="post-meta mb-3 mt-1">
                                <a href="#"><i class="fa fa-user"></i> Актуально</a>
                                <span><i class="fa fa-clock-o"></i> Dec 22, 2020</span>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog Post End -->
                </div>              

            </div>
        </div>
    </div>
    <!-- Blog Section End Here -->
</div>
